

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
.navbar-brand{
  padding-top:0px !important;
  padding-bottom:0px !important;
}
.navbar{
  font-size:16px;
  font-family: 'Serif', sans-serif;
  font-weight:500;
    padding-top: 10px;
	padding-bottom: 10px;
	transition:all ease .3s;
}
.navbar-default .navbar-nav>li>a{
   color:#B2AC88 !important;
}

.navbar-default .navbar-nav>li>a.active{
  color:#8f8a71 !important;
}
.dropdown-menu > li > a {
   color:#8d8769!important;
}
.navbar-default .navbar-nav>li>a:hover{
   color:#8f8a71 !important;
}
.shrink-nav {
	padding-top: 2px !important; 
	padding-bottom: 0px !important; 
}
.logo img{
  margin-top:5px; 
  width:200px !important;
  transition:width ease-in-out .3s;
}
.shrink-logo img {
  transition:width ease-in-out .3s;
	width:180px !important;
}
@media(max-width:900px){
  .logo img{
  width:200px !important;
}
  .shrink-logo img {
    ;
}
}
  /* Home Page Text */
.barberhome h1 {
  font-family: serif;
    text-align: left;
    bottom: 45rem;
    margin-left: 10rem;
    position: absolute;
    color:#8f8a71
}



@media(max-width:900px) {
    .barberhome h1 { 
      bottom: 50px;
      margin:auto;
      position: absolute;
      text-align: center;
      font-size: 30px;
      
    }
}
    
        

  /* Image scroll */



    .imgproduct {
      grid-template-columns: auto auto auto;
      background-color: #2196F3;
      column-gap: 50px;
      background-size: cover;
    
 

    }
    .producttext {
      background-color: #ffffff;
      padding: 100px;
      font-size: 30px;
      text-align: left;
      font-family: serif;
      color: black;
      border-style: 1px solid;
      border-bottom: 2px solid;
      border-color: #a4a089;
    }

    .producttext h2 {
      font-size: 70px;
    }

    .producttext img {
      width: -webkit-fill-available

    }

    .producttext button {
      padding-left: 20px;
      margin: 10px;
      color: black;
      background-color: #d5cda1;
      padding-right: 20px;

    }

    .producttext button:hover {
      background-color:#a09277
    }
    @media(max-width:900px){
      
      .producttext {
        background-color: white;
    padding: 50px;
    font-size: 20px;
    text-align: center;
    font-family: serif;
    border-style: 1px solid;
    
  
}
.producttext img {
width: -webkit-fill-available

     
}

.producttext h2 {
  font-size: 40px;
}
    }

.footer {
  text-align: center;
  color: #b1aa85;
  padding: 20px;
  background-color: white;
}
.footer img {
  width: 30px;
}


#button {
  display: inline-block;
  background-color: #121212;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

.title h1 {
  font-size: 50px;
  text-align: center;
  background-color: #d5cda1;
  padding: 20px;
  color: white;
}

@media(max-width:900px) {
  .title h1 {
    font-size: 20px;
    text-align: center;
    background-color: #d5cda1;
    padding: 20px;
    color: white;
    margin-top: 40px;
  }
}


.card-container {
    display: flex;
    width: 90vw;
  }
  .card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    height: 500px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: all 0.7s ease-in;
    background-color: white;
    color: white;
  }
  .card h3 {
    font-size: 24px;
    position: absolute;
    left: 20px;
    opacity: 0;
    text-align: left;
    color: #b1a981;
  }
  .card.active {
    flex: 1;
  }
  .card.active h3 {
    opacity: 1;
    transition: opacity 1500ms ease-in;
  }
  
  @media (max-width: 480px) {
    .card-container {
      width: unset;
    }

    .card-container {
        display: flex;
        width: unset;
      }

    .card:nth-last-of-type(4),
    .card:nth-last-of-type(5) {
      display: none;
    }
  }
  
  .producttext p {
    font-size: 20px;
  }